body {
  font-family: "Karla" Impact, 'Arial Narrow Bold', sans-serif;
  background-color: beige;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.title {
  font-size: 54px;
}

.instructions {
  font-size: 18px;
}

.dice-container {
  display: grid;
  grid-template: 100px 100px / repeat(5, 1fr);
  gap: 20px;
  margin-bottom: 30px;;

}

.dice {
  display: flex;
  align-self: center;
  text-align: center;
  justify-content: center;
  border-radius: 5px;
  height: 5rem;
  width: 5rem;
  font-size: 45px;
  font-weight: 700;
  background-color: white;
  cursor: pointer;

}

.roll {
  height: 5rem;
  width: 12rem;
  font-size: 24px;
  letter-spacing: .1rem;
  color: white;
  background-color: darkcyan;
  border-radius: 6px;
  cursor: pointer;
  border: none;
}

.roll:active {
  box-shadow: inset 5px 5px 5px 5px rgba(0, 0, 0, 0.7)
}

.won {
  font-size: 40px;
  color: maroon;
}